<!DOCTYPE html>
<html>
    <head>
        <title>Library Catalog</title>
        <meta charset="utf-8">
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h1>Library Catalog</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[4] }}</td>
                <td>{{ book[-1] + " " + book[-2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>