<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Eligibility for H3 subjects</title>
</head>
<body>
	<p>Enter H3 subject you want to search for: </p>
	<form method="POST">
		<input type="text" name="subject">
		<input type="submit" value="Submit">
	</form>
	{% if students %}
		<table border="1">
			<tr>
				{% for student in students %}
					<td>{{ student[0] }}</td>
					<td>{{ student[1] }}</td>
				{% endfor %}
			</tr>
		</table>
	{% else %}
		{% if subject %}
			<p>No student is eligible for this H3 {{ subject }}</p>
		{% endif %}
	{% endif %}
</body>
</html>